.container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 90vw;
  max-width: 1080px;

  .categoryContainer {
    margin: 20px 0;
  }

  .playList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;

    .cover {
      max-width: 200px;

      .img {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}
