@import '~Styles/variables';

.container {
  height: 100%;

  display: flex;
  flex-direction: column;

  background: $background-color;
  color: white;

  .playList {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 20px;
  }
}
