.container {
  height: 100%;
  width: 130px;
  display: flex;
  align-items: center;
  margin: 0 20px;

  .img {
    height: 30%;
    object-fit: cover;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
