.container {
  display: flex;
  margin: 10px 0;

  .title {
    width: 100px;
    height: 30px;

    line-height: 30px;
    text-align: center;

    color: #DCDDE4;
    font-size: 14px;
  }

  .listItemContainer {
    flex: 1;
  }
}
