.link {
  width: 100px;
  height: 30px;
  margin: 0 0 5px 5px;

  display: inline-block;

  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #828385;

  border: 1px solid #828385;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: #FFFFFF;
    background: #3B3B3C
  }

  &.selected {
    color: red;
  }
}
