@import "~Styles/variables";

.container {
  display: flex;
  margin-top: 10px;

  .title {
    font-size: $font-size-medium;
    color: #dcdce4;
  }

  .categoryItem {
    font-size: $font-size-medium;
    color: #828385;
    cursor: pointer;

    &:hover {
      color: #dcdce4;
    }
  }

  .divider {
    display: inline-block;
    height: 10px;
    width: 1px;
    margin: 0 15px;
    background: #828385;
  }
}
