.button {
  width: 90px;
  height: 30px;
  margin: 0 0 5px 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  color: #FFFFFF;

  border-radius: 4px;
  background: #303031;
  cursor: pointer;

  &:hover {
    background: #3B3B3C
  }

  span {
    margin-right: 10px;
  }

  .img {
    width: 13px;
    height: 13px;
  }
}

