@import "~Styles/variables";

.container {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $background-color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #4b4b4d;

    &:hover {
      background: #616162;
    }
  }
}
