@import "~Styles/variables";

.container {
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    cursor: pointer;
  }

  .imgContainer {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  p {
    font-size: $font-size-small;
  }
}
