@import '~Styles/variables';

.container { 
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .header {
    height: 45px;
  }

  .main {
    flex: 1;
    display: flex;
    background: $background-color;

    .aside {
      width: 200px;
    }
  
    .mainContent {
      flex: 1;
      height: calc(100vh - 45px - 50px);
      overflow-y: scroll;

      display: flex;
      justify-content: center;
    }
  }

  .footer {
    height: 50px;
    color: #ffffff;
    background: #212124;
  }
}
